### 모듈 불러오기

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import boxcox
from scipy.stats import yeojohnson
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
import seaborn as sns

### 데이터 불러오기

In [2]:
df = pd.read_csv("C:/Users/gun67/전력 프로젝트/preprocessing_data/2014_preprocessing_data", encoding = "utf-8-sig")
df

       Year-Month-Date       Time   Watt  Temp('C)  Humidity(%)
0           2014-01-01  [ 00:00 ]  570.0     9.000       76.000
1           2014-01-01  [ 00:01 ]  603.0     8.967       76.167
2           2014-01-01  [ 00:02 ]  579.0     8.933       76.333
3           2014-01-01  [ 00:03 ]  576.0     8.900       76.500
4           2014-01-01  [ 00:04 ]  602.0     8.867       76.667
...                ...        ...    ...       ...          ...
525595      2014-12-31  [ 23:55 ]  188.0     6.000       76.000
525596      2014-12-31  [ 23:56 ]  187.0     6.000       76.000
525597      2014-12-31  [ 23:57 ]  189.0     6.000       76.000
525598      2014-12-31  [ 23:58 ]  187.0     6.000       76.000
525599      2014-12-31  [ 23:59 ]  189.0     6.000       76.000

[525600 rows x 5 columns]

### Min-Max 스케일링  
##### 데이터의 최솟값을 0, 최댓값을 1로 변환 ; 데이터의 분포를 유지하면서 스케일을 변경

In [3]:
scaler = MinMaxScaler()
df["Watt_minmax"] = scaler.fit_transform(df[["Watt"]])
df["Temp('C)_minmax"] = scaler.fit_transform(df[["Temp('C)"]])
df["Humidity(%)_minmax"] = scaler.fit_transform(df[["Humidity(%)"]])
df_minmax = df[["Year-Month-Date", "Time", "Watt_minmax", "Temp('C)_minmax", "Humidity(%)_minmax"]]
print(df_minmax)

       Year-Month-Date       Time  Watt_minmax  Temp('C)_minmax  \
0           2014-01-01  [ 00:00 ]     0.051914         0.290323
1           2014-01-01  [ 00:01 ]     0.055898         0.289258
2           2014-01-01  [ 00:02 ]     0.053000         0.288161
3           2014-01-01  [ 00:03 ]     0.052638         0.287097
4           2014-01-01  [ 00:04 ]     0.055777         0.286032
...                ...        ...          ...              ...
525595      2014-12-31  [ 23:55 ]     0.005795         0.193548
525596      2014-12-31  [ 23:56 ]     0.005674         0.193548
525597      2014-12-31  [ 23:57 ]     0.005916         0.193548
525598      2014-12-31  [ 23:58 ]     0.005674         0.193548
525599      2014-12-31  [ 23:59 ]     0.005916         0.193548

        Humidity(%)_minmax
0                 0.659415
1                 0.661785
2                 0.664141
3                 0.666511
4                 0.668880
...                    ...
525595            0.659415
525596            0.659415
525597            0.659415
525598            0.659415
525599            0.659415

[525600 rows x 5 columns]

### 로버스트 스케일링

##### 중앙값(median)을 0, IQR을 1로 변환 ; 이상치에 덜 민감

In [4]:
scaler = RobustScaler()
df["Watt_robust"] = scaler.fit_transform(df[["Watt"]])
df["Temp('C)_robust"] = scaler.fit_transform(df[["Temp('C)"]])
df["Humidity(%)_robust"] = scaler.fit_transform(df[["Humidity(%)"]])
df_robust = df[["Year-Month-Date", "Time", "Watt_robust", "Temp('C)_robust", "Humidity(%)_robust"]]
print(df_robust)

       Year-Month-Date       Time  Watt_robust  Temp('C)_robust  \
0           2014-01-01  [ 00:00 ]     1.451163        -0.500000
1           2014-01-01  [ 00:01 ]     1.604651        -0.504125
2           2014-01-01  [ 00:02 ]     1.493023        -0.508375
3           2014-01-01  [ 00:03 ]     1.479070        -0.512500
4           2014-01-01  [ 00:04 ]     1.600000        -0.516625
...                ...        ...          ...              ...
525595      2014-12-31  [ 23:55 ]    -0.325581        -0.875000
525596      2014-12-31  [ 23:56 ]    -0.330233        -0.875000
525597      2014-12-31  [ 23:57 ]    -0.320930        -0.875000
525598      2014-12-31  [ 23:58 ]    -0.330233        -0.875000
525599      2014-12-31  [ 23:59 ]    -0.320930        -0.875000

        Humidity(%)_robust
0                 0.000000
1                 0.007952
2                 0.015857
3                 0.023810
4                 0.031762
...                    ...
525595            0.000000
525596            0.000000
525597            0.000000
525598            0.000000
525599            0.000000

[525600 rows x 5 columns]

### 로그 변환

##### 데이터의 분포를 정규분포에 가깝게 만듦, 값이 0보다 클 때만 사용 가능  
##### 온도 데이터는 값이 0보다 작거나 같을 경우가 존재하므로 다른 정규화를 사용

In [5]:
df["Watt_log"] = np.log(df["Watt"] + 1)
df["Humidity(%)_log"] = np.log(df["Humidity(%)"] + 1)

# 전력값과 습도는 log 변환, 온도는 minmax 변환
df_log_minmax = df[["Year-Month-Date", "Time", "Watt_log", "Temp('C)_minmax", "Humidity(%)_log"]]
print(df_log_minmax)

# 전력값과 습도는 log 변환, 온도는 robust 변환
df_log_robust = df[["Year-Month-Date", "Time", "Watt_log", "Temp('C)_robust", "Humidity(%)_log"]]
print(df_log_robust)

       Year-Month-Date       Time  Watt_log  Temp('C)_minmax  Humidity(%)_log
0           2014-01-01  [ 00:00 ]  6.347389         0.290323         4.343805
1           2014-01-01  [ 00:01 ]  6.403574         0.289258         4.345972
2           2014-01-01  [ 00:02 ]  6.363028         0.288161         4.348121
3           2014-01-01  [ 00:03 ]  6.357842         0.287097         4.350278
4           2014-01-01  [ 00:04 ]  6.401917         0.286032         4.352430
...                ...        ...       ...              ...              ...
525595      2014-12-31  [ 23:55 ]  5.241747         0.193548         4.343805
525596      2014-12-31  [ 23:56 ]  5.236442         0.193548         4.343805
525597      2014-12-31  [ 23:57 ]  5.247024         0.193548         4.343805
525598      2014-12-31  [ 23:58 ]  5.236442         0.193548         4.343805
525599      2014-12-31  [ 23:59 ]  5.247024         0.193548         4.343805

[525600 rows x 5 columns]
       Year-Month-Date       Time  Watt_log  Temp('C)_robust  Humidity(%)_log
0           2014-01-01  [ 00:00 ]  6.347389        -0.500000         4.343805
1           2014-01-01  [ 00:01 ]  6.403574        -0.504125         4.345972
2           2014-01-01  [ 00:02 ]  6.363028        -0.508375         4.348121
3           2014-01-01  [ 00:03 ]  6.357842        -0.512500         4.350278
4           2014-01-01  [ 00:04 ]  6.401917        -0.516625         4.352430
...                ...        ...       ...              ...              ...
525595      2014-12-31  [ 23:55 ]  5.241747        -0.875000         4.343805
525596      2014-12-31  [ 23:56 ]  5.236442        -0.875000         4.343805
525597      2014-12-31  [ 23:57 ]  5.247024        -0.875000         4.343805
525598      2014-12-31  [ 23:58 ]  5.236442        -0.875000         4.343805
525599      2014-12-31  [ 23:59 ]  5.247024        -0.875000         4.343805

[525600 rows x 5 columns]

### 제곱근 변환

##### 데이터의 분포를 정규분포에 가깝게 만듦, 값이 0보다 클 때만 사용 가능  
##### 이 또한 온도 데이터는 다른 정규화를 사용

In [6]:
df["Watt_sqrt"] = np.sqrt(df["Watt"])
df["Humidity(%)_sqrt"] = np.sqrt(df["Watt"])

# 전력값과 습도는 sqrt 변환, 온도는 minmax 변환
df_sqrt_minmax = df[["Year-Month-Date", "Time", "Watt_sqrt", "Temp('C)_minmax", "Humidity(%)_sqrt"]]
print(df_sqrt_minmax)

# 전력값과 습도는 sqrt 변환, 온도는 robust 변환
df_sqrt_robust = df[["Year-Month-Date", "Time", "Watt_sqrt", "Temp('C)_robust", "Humidity(%)_sqrt"]]
print(df_sqrt_robust)

       Year-Month-Date       Time  Watt_sqrt  Temp('C)_minmax  \
0           2014-01-01  [ 00:00 ]  23.874673         0.290323
1           2014-01-01  [ 00:01 ]  24.556058         0.289258
2           2014-01-01  [ 00:02 ]  24.062419         0.288161
3           2014-01-01  [ 00:03 ]  24.000000         0.287097
4           2014-01-01  [ 00:04 ]  24.535688         0.286032
...                ...        ...        ...              ...
525595      2014-12-31  [ 23:55 ]  13.711309         0.193548
525596      2014-12-31  [ 23:56 ]  13.674794         0.193548
525597      2014-12-31  [ 23:57 ]  13.747727         0.193548
525598      2014-12-31  [ 23:58 ]  13.674794         0.193548
525599      2014-12-31  [ 23:59 ]  13.747727         0.193548

        Humidity(%)_sqrt
0              23.874673
1              24.556058
2              24.062419
3              24.000000
4              24.535688
...                  ...
525595         13.711309
525596         13.674794
525597         13.747727
525598         13.674794
525599         13.747727

[525600 rows x 5 columns]
       Year-Month-Date       Time  Watt_sqrt  Temp('C)_robust  \
0           2014-01-01  [ 00:00 ]  23.874673        -0.500000
1           2014-01-01  [ 00:01 ]  24.556058        -0.504125
2           2014-01-01  [ 00:02 ]  24.062419        -0.508375
3           2014-01-01  [ 00:03 ]  24.000000        -0.512500
4           2014-01-01  [ 00:04 ]  24.535688        -0.516625
...                ...        ...        ...              ...
525595      2014-12-31  [ 23:55 ]  13.711309        -0.875000
525596      2014-12-31  [ 23:56 ]  13.674794        -0.875000
525597      2014-12-31  [ 23:57 ]  13.747727        -0.875000
525598      2014-12-31  [ 23:58 ]  13.674794        -0.875000
525599      2014-12-31  [ 23:59 ]  13.747727        -0.875000

        Humidity(%)_sqrt
0              23.874673
1              24.556058
2              24.062419
3              24.000000
4              24.535688
...                  ...
525595         13.711309
525596         13.674794
525597         13.747727
525598         13.674794
525599         13.747727

[525600 rows x 5 columns]

In [7]:
df_minmax.to_csv("C:/Users/gun67/전력 프로젝트/2014_normalization_data/2014_minmax_data", index = False, encoding = "utf-8-sig")

In [8]:
df_robust.to_csv("C:/Users/gun67/전력 프로젝트/2014_normalization_data/2014_robust_data", index = False, encoding = "utf-8-sig")

In [9]:
df_log_minmax.to_csv("C:/Users/gun67/전력 프로젝트/2014_normalization_data/2014_log_minmax_data", index = False, encoding = "utf-8-sig")

In [10]:
df_log_robust.to_csv("C:/Users/gun67/전력 프로젝트/2014_normalization_data/2014_log_robust_data", index = False, encoding = "utf-8-sig")

In [11]:
df_sqrt_minmax.to_csv("C:/Users/gun67/전력 프로젝트/2014_normalization_data/2014_sqrt_minmax_data", index = False, encoding = "utf-8-sig")

In [12]:
df_sqrt_robust.to_csv("C:/Users/gun67/전력 프로젝트/2014_normalization_data/2014_sqrt_robust_data", index = False, encoding = "utf-8-sig")